/* main body styles */
body { 
    padding-top: 50px; 
}

.row {
    padding-left: 15px;
    padding-right: 15px;
}
/* end main body styles */


/* navbar */
.navbar {
    margin-bottom: 0px;    
}
/* end navbar */


/* jumbotron */
.home-jumbotron {
    margin-bottom: .5em;
	padding: 1.8em 1.8em;
	background-color: #4484ce;
	color: #fff;
}

/* da */
.da-jumbotron {
    margin-bottom: .5em;
	padding: 1.8em 1.8em;
    color: #fff;
    background-color: #0e2f44;
}

/* dv */
.dv-jumbotron {
    margin-bottom: .5em;
	padding: 1.8em 1.8em;
    color: #fff;
    background-color: #2f4f4f;
}

/* hadoop */
.hadoop-jumbotron {
    margin-bottom: .5em;
	padding: 1.8em 1.8em;
    color: #fff;
    background-color: #006400;
}

/* iot */
.iot-jumbotron {
    margin-bottom: .5em;
	padding: 1.8em 1.8em;
    color: #fff;
    background-color: #483D8B;
}

/* nosql */
.nosql-jumbotron {
    margin-bottom: .5em;
	padding: 1.8em 1.8em;
    color: #fff;
    background-color: #660066;
}

/* spark */
.spark-jumbotron {
    margin-bottom: .5em;
	padding: 1.8em 1.8em;
    color: #fff;
    background-color: #990000;
}
/* end jumbotron */


/* home page */
.home-page-col-sm-6 {
    padding-left: 0px;
}

.home-page-icon {
    padding: 6px 8px;    
}

.home-section-header {
    font-size: 17px; 
    font-weight: bold; 
    margin-top: 15px;     
}
/* end home page */


/* content pages */
.page-icon {
    padding-left: 0px;
    color: #333;/*#337ab7;*/
}

.page-section-header {
    font-size: 30px; 
    font-weight: normal; 
    margin-top: 15px;     
}

.h4-sub-header {
    margin-top: 35px;
    margin-bottom: 15px;
}

.div-sub-header {
    font-size: 1.1em;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* end content pages */


/* list-group-item */
.da-list-group-item.active, .da-list-group-item.active:focus, .da-list-group-item.active:hover {
    background-color: #0e2f44;
    border-color: #0e2f44;
}

.dv-list-group-item.active, .dv-list-group-item.active:focus, .dv-list-group-item.active:hover {
    background-color: #2f4f4f;
    border-color: #2f4f4f;
}

.hadoop-list-group-item.active, .hadoop-list-group-item.active:focus, .hadoop-list-group-item.active:hover {
    background-color: #006400;
    border-color: #006400;
}

.iot-list-group-item.active, .iot-list-group-item.active:focus, .iot-list-group-item.active:hover {
    background-color: #483D8B;
    border-color: #483D8B;
}

.nosql-list-group-item.active, .nosql-list-group-item.active:focus, .nosql-list-group-item.active:hover {
    background-color: #660066;
    border-color: #660066;
}

.spark-list-group-item.active, .spark-list-group-item.active:focus, .spark-list-group-item.active:hover {
    background-color: #990000;
    border-color: #990000;
}

/* end list-group-item */

/* console */
.console {
    display: block;
    margin: 10px 10px 35px 0;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-family: "Courier New", sans-serif;
    width: 100%;
}
/* end console */

/* footer */
.row-footer {
    border-top: 4px solid #f5f5f5;
    padding-top: 20px;    
}

.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  border-top: 0;
  background-color: #fff;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

.pad-left {
    padding-left: 0px;
}

#winter-term, #spring-term, #contact {
  line-height: 2;
}

#winter-term > span, #spring-term > span, #contact > span {
  font-size: 1.2em;
  font-weight: bold;
}
/* end footer */