body { 
    padding-top: 50px; 
}

.row {
    padding-left: 15px;
}

.navbar {
    margin-bottom: 0px;    
}

.jumbotron {
    margin-bottom: .5em;
	padding: 1.8em 1.8em;
	background-color: #369;
	color: #fff;
}

/* footer */
.panel-footer {
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  border-top: 0;
  background-color: #fff;
}

.panel-footer div.row {
  margin-bottom: 35px;
}

.pad-left {
    padding-left: 0px;
}

#winter-term, #spring-term, #contact {
  line-height: 2;
}

#winter-term > span, #spring-term > span, #contact > span {
  font-size: 1.2em;
  font-weight: bold;
}
/* end footer */